@model IPC2.Models.Archi

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="icon" type="image/png" href="../Images/icon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            text-align: center;
            background: url("../Images/fondo.jpg") 0px 0px no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .padd {
            padding-top: 100px;
        }

        .padd2 {
            padding: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Othello</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                <li class="nav-item active">
                    @Html.ActionLink("Lista de Usuarios", "Index", "Usuarios", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Registrarse", "Nuevo", "Usuarios", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Cerrar Sesion", "Logout", "Cerrar", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content padd">
        <div class="row">
            <div class="col-md-4 bg-dark">
                <h2 class="text-white padd2">Jugar Solo</h2>
                <p class="padd2"><a class="btn btn-light" href="~/Jugar/Single2">Jugar <i class="fas fa-dice-one"></i></a></p>
            </div>
            <div class="col-md-4 bg-light">
                <h2 class="padd2">Multijugador</h2>
                <p class="padd2"><a class="btn btn-dark" href="~/Jugar/single">Jugar <i class="fas fa-dice-two"></i></a></p>
            </div>
            <div class="col-md-4 bg-dark">
                <h2 class="text-white padd2">Torneo</h2>
                <p class="padd2"><a class="btn btn-light" href="~/Jugar/CargarTorneo">Jugar <i class="fas fa-dice"></i></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 bg-light">
                <h2 class="padd2">Cargar Partida</h2>
                <p class="padd2"><a class="btn btn-dark" href="~/Jugar/Cargar">Subir Tablero<i class="fas fa-file-upload"></i></a></p>
            </div>

            <div class="col-md-4 bg-dark">
                <h2 class="text-white padd2">XTREAM</h2>

                @*@using (Html.BeginForm("GuardarTablero", "Jugar", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="submit" value="Guardar" class="btn btn-light" />
            }*@

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#staticBackdrop">
                    Jugar <i class="fas fa-skull"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Preferencias de Juego</h5>
                            </div>
                            <div class="modal-body">
                                <!--Cuerpo del Tablero-->

                                <form class="form" action="~/Jugar/InicializarXtream" method="post">

                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="my-1 mr-2" for="filasElegidas">Filas</label>

                                            <select class="custom-select my-1 mr-sm-2" id="filasElegidas" name="filas">
                                                <option value=4>4</option>
                                                <option value=6>6</option>
                                                <option value=8 selected>8</option>
                                                <option value=10>10</option>
                                                <option value=12>12</option>
                                                <option value=14>14</option>
                                                <option value=16>16</option>
                                                <option value=18>18</option>
                                                <option value=20>20</option>
                                            </select>
                                        </div>

                                        <div class="col-sm">
                                            <label class="my-1 mr-2" for="columnasElegidas">Columnas</label>

                                            <select class="custom-select my-1 mr-sm-2" id="columnasElegidas" name="columnas">
                                                <option value=4>4</option>
                                                <option value=6>6</option>
                                                <option value=8 selected>8</option>
                                                <option value=10>10</option>
                                                <option value=12>12</option>
                                                <option value=14>14</option>
                                                <option value=16>16</option>
                                                <option value=18>18</option>
                                                <option value=20>20</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="my-1 mr-2" for="colores1">Tus colores</label>

                                            <select class="custom-select my-1 mr-sm-2" id="Colores1" name="c1">
                                                @*<option value=1 selected>1</option>*@
                                                <option value=2 selected>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                            </select>
                                        </div>

                                        <div class="col-sm">
                                            <label class="my-1 mr-2" for="colores2">Colores del oponente</label>

                                            <select class="custom-select my-1 mr-sm-2" id="colores2" name="c2">
                                                @*<option value=1 selected>1</option>*@
                                                <option value=2 selected>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                            </select>
                                        </div>
                                    </div>



                                    <button type="submit" class="btn btn-dark">Empezar <i class="fas fa-skull"></i></button>
                                </form>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 bg-light">
                <h2 class="padd2">Cargar Xtream</h2>
                <p class="padd2"><a class="btn btn-dark" href="~/Jugar/CargarXtream">Subir Tablero <i class="fas fa-file-upload"></i></a></p>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
