@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("UploadXtream", "Jugar", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" id="fileUpload" name="fileUpload" style="float:left" class="btn btn-primary" />
    <input type="submit" value="Mostrar" style="float:right" class="btn btn-success" />
}


@if (ViewBag.ShowList)
{
    @model IPC2.Models.Fichas[,]

<div class="container">

    <div class="row justify-content-center">

        <div class="jumbotron">
            <p> @IPC2.Controllers.CuentaController.usuario </p>
            <p class="text-center">@ViewBag.numeroJ1 </p>
        </div>

        @{
            string[] letras = { "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T" };
        }
        <main class="bg-dark">
            <div class="font-weight-bold text-black">
                <div class="casilla dentro border-0"></div>
                @for (int i = 0; i < ViewBag.columnas; i++)
                {
                    <div class="casilla dentro border-0">@letras[i]</div>
                }
                <div class="casilla dentro border-0"></div>
            </div>

            @{

                for (int i = 0; i < ViewBag.filas; i++)
                {
                    <div class="font-weight-bold text-black">
                        <div class="casilla dentro border-0">@(i+1)</div>
                        @{
                            for (int j = 0; j < ViewBag.columnas; j++)
                            {
                                if (Model[i, j].color != "")
                                {
                                    <button type="submit" class="casilla dentro"><i class="fas fa-circle" style="color:@Model[i,j].color"></i></button>
                                }
                                else
                                {
                                    if (Model[i, j].permitida.Equals("no"))
                                    {
                                        <button type="submit" class="casilla dentro"></button>
                                    }
                                    else if (Model[i, j].permitida.Equals("si"))
                                    {
                                        <form method="post" action="~/Jugar/Xtream">
                                            <button type="submit" class="casilla dentro"><i class="far fa-times-circle" style="color:@ViewBag.turno_color"></i></button>
                                            <input type="hidden" name="fila" value=@i>
                                            <input type="hidden" name="columna" value=@j>
                                            <input type="hidden" name="color" value="@ViewBag.turno_color">
                                            <input type="hidden" name="turno" value="@ViewBag.turno">
                                        </form>
                                    }
                                }
                            }
                        }

                        <div class="casilla dentro border-0">@(i+1)</div>
                    </div>
                }
            }

            <div class="font-weight-bold text-black">
                <div class="casilla dentro border-0"></div>
                @for (int i = 0; i < ViewBag.columnas; i++)
                {
                    <div class="casilla dentro border-0">@letras[i]</div>
                }
                <div class="casilla dentro border-0"></div>
            </div>
        </main>

        <div class="jumbotron">
            <p> Jugador Invitado </p>
            <p class="text-center">@ViewBag.numeroJ2</p>
        </div>
    </div>

    <hr />

    <div class="row justify-content-center">

        <div class="col-sm">
            Es turno de @ViewBag.turno <i class="fas fa-circle" style="color:@ViewBag.turno_color"></i>
        </div>

        <div class="col-sm">
            @ViewBag.mensaje
        </div>

        <div class="col-sm">
            @ViewBag.ganador
        </div>

        <div class="col-sm">
            <p class="padd2"><a class="btn btn-dark" href="~/Home/Index">Ir a Home<i class="fas fa-home"></i></a></p>
        </div>


        @*<div class="col-sm">
                @using (Html.BeginForm("Iniciar", "Jugar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="submit" value="Reiniciar Tablero" class="btn btn-dark" />
                }
            </div>
            <div class="col-sm">

                @using (Html.BeginForm("GuardarTablero", "Jugar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="submit" value="Guardar y Salir" class="btn btn-dark" />
                }
            </div>*@
    </div>

</div>
}